.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* styles.css */

h1, h2, h5 {
  font-family: "Playfair Display", serif;
  color: #1a1a1a;
}

.text-red {
  color: #FF1616;
}

.bg-red {
  background-color: #FF1616;
}

.orange {
  color: rgb(255, 87, 0);
}

.slide1 {
  background-color: #FEF4F4;
}

.indicator {
  width: 10px !important;
  height: 10px !important;
}

.carousel-h1 {
  font-size: 60px;
  font-family: "Playfair Display", serif;
}

.review {
  font-size: 12px;
}

.custom-btn {
  border: 2px solid #FF1616;
  background: transparent;
}

/* .card1 {
  background-image: url("img/card1.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.card2 {
  background-image: url("img/card2.png");
  background-size: cover;
  background-repeat: no-repeat;
} */

.bg-l {
  background-color: #FEF4F4;
}

.icon {
  border: 1px solid rgb(214, 211, 211);
}

.icon:hover {
  background-color: #FF1616;
}

.icon:hover i {
  color: white !important;
}

/* .container{
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 200px;
  width: 600px;
  background:linear-gradient(#2A00B7, #42006C);
  padding-bottom: 30px;
}

.header{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 9px;
  width: 100%;
  margin-top: 30px;
}

.text{
  color: #fff;
  font-size: 48px;
  font-weight: 700;
}

.underline{
  width: 61px;
  height: 6px;
  background: #3c009d;
  border-radius: 9px;
}

.inputs{
  margin-top: 55px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.input{
  display: flex;
  align-items: center;
  margin: auto;
  width: auto;
  height: 80px;
  background: #eaeaea;
  border-radius: 6px;
}

.input img{
  margin: 0px 30px;
}

.input input{
  height: 50px;
  width: 400px;
  background: transparent;
  border: none;
  outline: none;
  /* color: #fff; */
  /* font-size: 19px; */
/* } */

/* .forgot-password{
  padding-left: 62px;
  margin-top: 27px;
  color: #fff;
  font-size: 18px;
}

.forgot-password span{
  color: #4c00b4;
  cursor: pointer;
}

.submit-container{
  display: flex;
  gap: 30px;
  margin: 60px auto;
}

.submit{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 220px;
  height: 59px;
  color: #fff;
  background: #4c00b4;
  border-radius: 50px;
  font-size: 19px;
  font-weight: 700;
  cursor: pointer;
}

.gray{
  background: #EAEAEA;
  color:#676767
} */ 